.divclass {
  border: 1px solid #000;
  font-family: arial;
  height: auto;
  width: auto;
}
ul {
  list-style: none;
  max-height: 150px;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-indent: 10px;
}
li {
  line-height: 25px;
}
li:nth-child(even) {
  background: #ccc;
}
